<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-active" [routerLink]="['/login']"><a class="btn">Login</a></li>
        <li class="signup-inactive" [routerLink]="['/sign-in']"><a class="btn">Sign up </a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
      <form class="form-signin" action="" method="post" name="form">
        <label for="username">Username</label>
        <input class="form-styling" type="text" name="username" placeholder="" #user />
        <label for="password">Password</label>
        <input class="form-styling" type="text" name="password" placeholder="" #pass />
        <input type="checkbox" id="checkbox" /> <label for="checkbox"><span class="ui">
          </span>Keep me signed in</label>
        <div class="btn-animate" (click)="login(user.value, pass.value)"> <a class="btn-signin">Sign in</a> </div>
      </form>
